.main-container{
    display: flex;
    flex-direction: row;
}

.aside-container {
width: 300px;
padding: 20px;
background-color: #f0f0f0;
}

.search-bar {
border: 1px solid black;
margin-bottom: 10px;
}

.search-bar input {
width: 100%;
border: none;
background-color: transparent;
padding: 5px;
}

.price-filter {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}

.filter-button img {
width: 24px;
height: 24px;
}

.price-range h4,
.product-range h4,
.featured-product h4 {
margin-bottom: 10px;
}